<nav class="nav navbar" style="background-color:black;border-radius:0px;color:white">
  <div class="container-fluid">

  <ul class="nav navbar-nav">
    <li>
      <%=link_to "New Idea", new_idea_path, class: "btn btn-primary", style: "border-radius: 0px;"%>
    </li>
    <li>
      <%=link_to "Home", root_path, style: "color:red"%>
    </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%=link_to "Sign Up", new_user_path%>
      <%#if user_logged_in?%>
        <%#=link_to "Logged in as:#{User.find(session[:user_id]).email}", ""%>
    </li>
    <li>
        <%#=link_to "Logout", '/logout'%>
      <%#end%>
    </li>
  </ul> 

  </div>
  
</nav>
